body {
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}

.item3 {
    Grid-template-rows: 1fr 2fr 10fr;
    grid-area: main;
    display: grid;
    grid-template-areas: "buttons lists" "today lists" "list-card lists";
}

.lists {
    border-left: solid 2px #d0d3d6;
    grid-area: lists;
    background-color: #9e968a33;
    border-left: solid 2px #d0d3d6;
}

.buttons {
    grid-area: buttons;
}

.list-card {
    grid-area: list-card;
}

.today {
    text-align: center;
    grid-area: today;
    margin: 5% 0%;
    color: #87b189;
    font-weight: bold;
    margin-bottom: 15px;
    font-family: 'Poiret One';
    font-size: 3rem;
}

#lists-headline {
    margin: 8% 36%;
    font-weight: bold;
    font-family: 'Poiret One';
    font-size: 3rem;
    color: #4a4a4a;
}

.shopping_container {
    height: fit-content;
    width: 400px;
    margin-left: 0px;
    margin-top: 15px;
}

.bg-light {
    background-color: #ffffff !important;
}

.button, input, optgroup, select, textarea {
    margin: 0 !important;
    font-family: inherit !important;
    line-height: inherit !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px !important;
}

.grid-container {
    Grid-template-rows: 1fr 13fr;
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 'header header header header header header' 'menu main main main main main';
    grid-gap: 2px;
    background-color: #d0d3d6;
    padding: 2px;
}

.form-control1 mr-sm-2: focus {
    border-color: #8bb595 !important;
    box-shadow: 0 0 0 0.2rem rgb(200, 217, 185) !important;
}

.btn-outline-success.focus, .btn-outline-success:focus {
    box-shadow: 0 0 0 0.2rem rgba(99, 156, 112, 0.5) !important;
}

.form-control:focus {
    border-color: #8bb595 !important;
    box-shadow: 0 0 0 0.2rem rgb(200, 217, 185) !important;
}

.grid-container > div {
    background-color: #f8f9fa !important;
    font-size: 20px;
}

#rightNav {
    display: flex;
    margin-top: 11px;
    margin-left: 68%;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #85a687 !important;
}

#pandalogo {
    background-image: url("https://i.ibb.co/1L5rVZy/logoWeb.png");
    display: flex;
    height: 50px;
    width: 200px;
}

.search-btn {
    color: darkseagreen !important;
    background-color: white !important;
    border-color: darkseagreen !important;
}


    .search-btn:hover {
        background-color: darkseagreen !important;
        color: white !important;
        border-color: darkseagreen !important;
    }

    .search-btn:active {
        background-color: darkseagreen !important;
        color: white !important;
        border-color: slategray !important;
        border: 2px !important;
    }

    .search-btn:checked {
        border-color: slategray !important;
        border: 2px !important;
    }



/* Style the sidebar - fixed full height */
.sidebar {
    height: 100%;
    z-index: 1;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 16px;
    text-align: left;
    padding-left: 20px;
}

    /* Style sidebar links */
    .sidebar a {
        font-family: 'Poiret One';
        font-weight: bold;
        padding: 6px 15px 15px 0px;
        text-decoration: none;
        font-size: 20px;
        color: #3e3e3e;
        display: block;
    }

        /* Style links on mouse-over */
        .sidebar a:hover {
            color: #85a687;
            text-decoration: none !important;
        }

/* Style the main content */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

        .sidebar a {
            font-size: 18px;
        }
}

/* Include the padding and border in an element's total width and height */
* {
    box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

    /* Style the list items */
    ul li {
        font-size: 14px;
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        list-style-type: none;
        background: #eee;
        transition: 0.2s;
        /* make the list items unselectable */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

        /* Set all odd list items to a different color (zebra-stripes) */
        ul li:nth-child(odd) {
            background: #f9f9f9;
        }

        /* Darker background-color on hover */
        ul li:hover {
            background: #ddd;
        }

        /* When clicked on, add a background color and strike out text */
        ul li.checked {
            background: #888;
            color: #fff;
            text-decoration: line-through;
        }

            /* Add a "checked" mark when clicked on */
            ul li.checked::before {
                content: '';
                position: absolute;
                border-color: #fff;
                border-style: solid;
                border-width: 0 2px 2px 0;
                top: 10px;
                left: 16px;
                transform: rotate(45deg);
                height: 15px;
                width: 7px;
            }

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

    .close:hover {
        color: white;
    }

/* Style the header */
.header {
    background-color: #f44336;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

    /* Clear floats after the header */
    .header:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

#shopping_headline {
    font-family: 'Poiret One', cursive !important;
}

/* Style the "Add" button */
.addBtn {
    padding: 10px;
    width: 25%;
    background: #a9c7ab;
    color: #fff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

    .addBtn:hover {
        background-color: #bbb;
    }

.cards {
    display: grid;
    grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    grid-auto-rows: auto;
    margin-left: 3%;
    margin-top: 3%;
}

.ng-hide {
    height: 0;
    width: 0;
    background-color: transparent;
    top: -200px;
    left: 200px;
}

.card {
    display: flex;
    box-shadow: 3px 2px 5px 0px #c3c3c3 !important;
    position: relative !important;
    display: -ms-flexbox !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    min-width: 0 !important;
    word-wrap: break-word !important;
    background-color: #fff !important;
    background-clip: border-box !important;
    border-radius: 10px !important;
    margin: 3% !important;
    transition: all linear 0.5s;
    background-color: lightblue;
}

.add-list-buttons {
    background-color: #525252 !important;
    border-color: #afafaf !important;
    margin: 10px !important;
}


    .add-list-buttons:hover {
        background-color: darkseagreen !important;
        color: #f8f9fa;
    }

    .add-list-buttons:active {
        background-color: #8bb595 !important;
        color: #f8f9fa;
        border-color: #204d74;
    }

.my-fa {
    margin-right: 11px !important;
}

.logout-btn {
    font-family: 'Poiret One';
    font-weight: bold;
}


.list-name {
    display: inline-flex;
}

.add-list-name {
    margin: 10px !important;
    color: darkslategrey;
    width: 100% !important;
    font-family: 'Poiret One' !important;
    font-weight: bold !important;
    font-size: 22px !important;
    border: 0 !important;
    background-color: none;
    box-shadow: none;
    padding-right: 42.5px;
}

list-lists {
    list-style: none;
    padding: 0;
}

item-lists:before {
    content: "\f00c"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}

#item-lists:nth-child(odd) {
    background: #f9f9f9;
}

#item-lists {
    font-size: 14px;
    cursor: pointer;
    padding-left: 1.3em;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    /*background: #eee;*/
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
